body{
  font-family: Inter,Helvetica,Arial,  sans-serif;
  margin: 10px;
  background:  #E4C59E;
}

*{
  box-sizing: border-box;
}

.header-div{
  display: flex;
  background-color: #803D3B;
  border-radius: 20px;
  justify-content: center;
  box-shadow: 0px 1px 3px 0px black;
}

.header-div > img{
  width: 60px;
  margin-right: 20px;
}

.header-div > h1{
  color: #E4C59E;
  font-size: 2.5rem;
  font-weight: 700;
  font-family:cursive;
}

main{
  padding-top: 60px;
}

.main-form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main-form > input{
  padding: 10px;
  border: 2px solid #AF8260;
  border-radius: 10px;
  font-size: 1.5rem;
  width: 40%;
}

.main-form > button{
  padding: 16px;
  background: #322C2B;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.ingredient-list{
  font-size: 1.2rem;
  font-weight: 400;
}

.ingredient-list > li{
  margin: 8px;
}

.recipe-section{
  margin: 0 20px;
}

.recipe-section > h1{
  font-weight: 800;
}

.get-recipe-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background:#af927b;
  color: #ffffff;
  margin-left: 35%;
  margin-right: 35%;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.get-recipe-container > div > h3{
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.get-recipe-container > div > p{
  font-weight: 100;
  color: #fff9f5;
  margin-top: 8px;
}

.get-recipe-container > button{
  background-color: #803D3B;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  color: #E4C59E;
  margin-left: 30px;
  padding: 15px 20px;
  cursor: pointer;
}

.insufficient-ingredients{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #af927b;
  margin-left: 35%;
  margin-right: 35%;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
}

.insufficient-ingredients > h1{
  margin-bottom: 0;
}

.ai-recipe-container{
  padding: 20px;
}